body{
  font-family: "Courier New", Courier, monospace
}

a.navbar-brand.nextination {
  margin-top:10px;
  color: white;
  font-size: 36px;
}

.navbar {
  border-radius: 0px;
}

.navbar-right {
  float: right!important;
  margin-right: 5px;
}

#term {
  width: 80%;
}

.col-md-8.info{
  margin-left: 60px;
  margin-top: 30px;
  width: 70%
}

.col-md-8.photos{
  margin-left: 60px;
  margin-top: 30px;
  width: 70%
}

.col-md-8.weather{
  margin-left: 60px;
  margin-top: 30px;
  width: 70%
}

ul.nav.nav-tabs {
  margin-top: 20px;
  width: 80%;
  margin-left: 60px;
  margin-right: auto;
}

.carousel {
  width: 550px;
  height: auto;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: auto;
  display: block;
}


/*.img {
  width: 400px;
  height: 400px;
  margin: auto;
  display: block;
}*/
