body{
  font-family: "Courier New", Courier, monospace
}

#term {
  width: 80%;
}

.col-md-8.info{
  margin-left: 60px;
  margin-top: 30px;
  width: 70%
}

.image-container {
  height: 180px;
  width: 240px;
  position: relative;
  margin: 0 20px 20px 0;
  background-color: #666;
  border: 5px solid #fff;
  overflow: hidden;
}
